<div class="card">
    <div class="card-status-top bg-primary"></div>
    <div class="card-body">
        <h1>Thanks for registry</h1>

        <p>Please confirm your registration</p>
    </div>
</div>