<div class="flex flex-col sm:flex-row sm:justify-center sm:space-y-0 md:justify-between mt-24 w-full">
  <div class="p-4">
    <h3 class="text-3xl text-[#80663f] mb-4">Selamat Datang,</h3>
    <h1 class="text-4xl text-[#0a0082] mb-6">Optimalkan Bisnismu <br/> Bersama Kami...</h1>
    <%= link_to 'Mulai Sekarang(gratis)', new_user_registration_path, class:"bg-purple-700 py-4 px-4 rounded-xl hover:bg-purple-500 text-white" %>
  </div>
  <div class="p-4">
    <img class="max-w-full h-auto" src="/assets/phone_image2.svg" width="479" height="425" />
  </div>
</div>

<div class="grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4 mt-12">


  <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="h-56 w-full">
      <img class="h-full mx-auto" src="/assets/feature1.png" alt="" />
    </div>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Buat Client agar lebih mudah menjangkau usaha anda</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Link ke Website, Ecommerce, Sosial Media, WhatsApp chat, Google Maps, dan masih banyak lainnya</p>

    </div>
  </div>
  <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="h-56 w-full">
      <img class="h-full mx-auto" src="/assets/feature2.png" alt="" />
    </div>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sesuaikan Tampilan Halaman Link Anda Sesuai Kebutuhan</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Kustomisasi halaman link sesuai kebutuhan usaha anda, mulai dari baner, background, hingga bentuk tombol</p>

    </div>
  </div>
  <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="h-56 w-full">
      <img class="h-full mx-auto" src="/assets/feature3.png" alt="" />
    </div>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Buat Link Tanpa Batas Maksimal Kesemua Platform Usaha Anda</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Buat link sesuai keinginan ada tanpa di perlu khawatir dengan batasan maksimal</p>

    </div>
  </div>
  <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="h-56 w-full">
      <img class="h-full mx-auto" src="/assets/feature4.png" alt="" />
    </div>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Menyingkat Url Untuk Kebutuhan Sharing Link Website Anda</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Menyisipkan link url di ig akan membuat tampilan berantakan, singkat url sebelum membagikannya</p>

    </div>
  </div>

</div>
